.ThreeDModel {
    &-ContextSelector {
		color: #888;
		background-color: #ddd;
		border: 0px;
		text-transform: uppercase;
		cursor: pointer;
		outline: 0;

		&:hover {
			background-color: #fff;
		}
	}
}