.Sidebar {
    display: flex;
    flex-direction: column;
        
    flex: 1;
    order: 2;
    
    overflow: auto;
    background-color: var(--Sidebar-backgroundColor);
    
    .Tabs:first-child {
        padding-top: 10px;
    }
}  