.Viewport {
    &-sidebar {
        position: absolute;
        top: 0;
        right: 0;
        
        width: 360px;
        height: fit-content;
        max-height: 100%;
        
        overflow-y: auto;
        overflow-x: hidden;
        
        display: flex;
        flex-direction: column;
        
        flex: 1;
        order: 2;
        
        background-color: transparent;
        
        .Tabs:first-child {
            margin: 10px;
        }
    }
    
    &-toolbar {
        position: absolute;
        top: 10px;
        left: 10px;
        
        display: flex;
        flex-direction: column;
        
        background-color: var(--bg-light);
    }
    
    &-stats {
        position: absolute;
        bottom: 10px;
        left: 10px;
        
        font-size: 12px;
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    }
}
