.Editor[data-theme="dark"] {
    --bg-dark: #1d2327;
    --on-bg-dark: #2c3338;
    
    --bg-light: #1d2327;
    --on-bg-light: #2c3338;
    
    --text: #666;
    --text-dark: #888;
    --text-light: #aaa;
    
    --on-hover: #2271b1;
}