.Editor[data-theme="dark"] {
    --bg-dark: #1d2327;
    --on-bg-dark: #2c3338;
    
    --bg-light: #3c434a;
    --on-bg-light: #2c3338;
    
    --text: #666;
    --text-dark: #c3c4c7;
    --text-light: #fff;
    
    --on-hover: #2271b1;
}