.Editor[data-theme="light"] {
    --bg-dark: #ddd;
    --on-bg-dark: #ccc;
    
    --bg-light: #f0f0f1;
    --on-bg-light: #fff;
    
    --text: #aaa;
    --text-dark: #888;
    --text-light: #666;
    
    --on-hover: #2271b1;
}